$font-famaly: Helvetica,
sans-serif;
$primary-color: #333;
$text-color: white;

body {
    text-align: center;
    background-color: black;
}

canvas {
    background: #E9D5CA;
    border: 6px dashed #827397;

}